body {
    .inventory {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: -215px;
        width: 100%;
        transition: bottom .5s cubic-bezier(.68,.12,.72,.38);
        &.showInventory {
            bottom: 0;
        }
        &>div {
            box-shadow: 0 -2px 10px #000000;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            width: 210px;
            height: 210px;
            background-image: url('../../assets/images/inventory/backgroundInventory.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            .innerInventoryImg {
                width: 60%;
                height: 60%;
                margin-bottom: 5px;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: bottom;
            }
            span {
                color: #fff;
                margin-bottom: -15px;
            }
        }
    }
    .toggleInventory {
        position: fixed;
        bottom: 50px;
        right: 60px;
        color: white;
        padding: 11px 14px;
        background-image: url('../../assets/images/circle.png');
        background-size: contain;
        background-repeat: no-repeat;
    }
}