@font-face {
  font-family: typewriter;
  src: url("../../assets/fonts/typewriter.ttf");
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  85% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body .App {
  width: 100vw;
  height: 100vh;
}
body .type {
  opacity: 0;
}
body .visible {
  opacity: 1;
  visibility: visible;
}
body .fadeOut {
  animation: fadeOut 3.5s linear forwards;
}